$primary-color: rgb(47, 65, 82);
$primary-overlay: rgba(47, 65, 82, 0.562);
$dark-overlay: rgba(0, 0, 0, 0.7);
$icon-size: 55px;
body {
    overflow-x: hidden;
}

#preloader {
    background-color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    #status {
        background: url("../img/blood_drop.gif");
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: -50px;
        margin-left: -50px;
    }
}

.navbar {
    border-bottom: 3px solid #9cbbc9;
    .navbar-toggler-icon {
        color: $primary-color;
    }
    .nav-link {
        font-size: 13px;
        font-weight: bold;
        color: $primary-color;
        text-transform: uppercase;
        padding-left: 1em !important;
        padding-right: 1em !important;
        margin-right: 10px !important;
        margin-left: 10px !important;
    }
    .nav-link:hover {
        border: none;
        border-radius: 5px;
        background-color: #d93240;
        color: #ffffff !important;
        display: inline-block;
    }
    .nav-item.active {
        border: none;
        border-radius: 5px;
        background-color: #d93240;
    }
    .nav-item.active a {
        color: #ffffff !important;
    }
}

#showcase {
    position: relative;
    background: url("../img/blood-donation-2603649_1920.jpg") no-repeat;
    background-size: cover;
    // // background-attachment: fixed;
    background-position-y: -100px;
    min-height: 700px;
    margin-top: -4px;
    .primary-overlay {
        background-color: $primary-overlay;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 700px;
    }
    #showcase_content {
        margin-top: 150px;
    }
    #showcase_content h4 {
        text-transform: uppercase;
        font-weight: bold;
    }
}

.fas {
    font-size: $icon-size;
    color: #d93240;
    // background: black;
}

.fa {
    font-size: $icon-size;
    position: relative;
    color: #d93240;
}

.card:hover {
    box-shadow: 3px 3px 3px 4px $primary-color;
    transition: all 0.3s ease-in-out;
    // background-color: #333;
    // color: #ffffff;
}

#explore-section {
    position: relative;
    background: url("../img/Background-image-1.jpeg") no-repeat;
    background-size: cover;
    min-height: 280px;
    background-position: 0, -300px;
    background-attachment: fixed;
    .dark-overlay {
        background-color: $dark-overlay;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

#video-play {
    position: relative;
    min-height: 200px;
    background: url("../img/media.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 0, -400px;
    text-align: center;
    color: #ffffff;
    .dark-overlay {
        position: absolute;
        background-color: $dark-overlay;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

#doctor-section {
    .fa {
        font-size: 25px;
    }
    .card:hover {
        transition: 0.1s all ease-in-out;
        margin-top: 10px;
    }
    h1 {
        border-bottom: 2px solid #d93240;
        padding: 20px;
    }
}

#donar-section {
    .info-header {
        border-bottom: 2px solid #d93240;
        width: 50%;
        margin: auto;
    }
    .card {
        box-shadow: none;
        img {
            margin-top: -50px;
        }
    }
    .card:hover {
        background-color: $primary-color;
        color: white;
        .fa {
            color: white;
        }
    }
    .fa {
        font-size: 25px;
    }
}

#newsletter-section {
    .fa {
        font-size: 25px;
        color: white;
    }
}

#main-footer {
    background-color: #d93240;
    color: white;
    h4 {
        margin-left: 28px;
    }
    ul {
        list-style-type: circle;
        a {
            text-decoration: none;
            color: white;
        }
        a:hover {
            color: rgb(201, 193, 193);
        }
    }
    .social-media {
        width: 50px;
        height: 50px;
        // background-color: #3808089f;
        background-color: #292728;
        border-radius: 5px;
        margin: 8px;
        box-shadow: 4px 4px 4px 2px #3808089f;
        .fa {
            color: whitesmoke;
            font-size: 30px;
            padding: 12px;
        }
    }
    #facebook:hover {
        background-color: #3b5999;
    }
    #twitter:hover {
        background-color: #55acee;
    }
    #instagram:hover {
        background-color: #e4405f;
    }
    #youtube:hover {
        background-color: #cd201f;
    }
    #linkedin:hover {
        background-color: #0077b5;
    }
    .first-row {
        padding-bottom: 20px;
    }
    .second-row {
        border-top: 1px solid #e45864;
    }
}

#main-section {
    min-height: 550px;
    h2 {
        border-bottom: 2px solid rgb(88, 99, 109);
        padding-bottom: 15px;
        width: 50%;
        margin: auto;
    }
    button {
        margin: 0 auto;
        margin-top: 20px;
    }
}

#contacts-section {
    min-height: 500px;
    h2 {
        padding-bottom: 20px;
        border-bottom: 2px solid rgb(218, 216, 216);
        text-align: center;
        width: 50%;
        margin: auto;
        color: #3b5999;
    }
}

#login-section {
    min-height: 400px;
    .fa {
        font-size: 35px;
    }
    .card {
        box-shadow: 2px 2px 3px 4px $primary-color;
    }
}

#help-section {
    .card {
        box-shadow: none;
        color: black;
    }
    .fas {
        font-size: 20px;
        color: white;
    }
}

#cover-section {
    background: url("../img/about.jpeg");
    background-attachment: fixed;
    background-position: -250px;
    min-height: 200px;
    text-align: center;
    color: white;
}

#about-section {
    img {
        width: 400px;
        height: 400px;
        margin-top: -50px;
    }
}

#content-section {
    .fas {
        color: white;
    }
}